

// $police__main : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
// $police__titre-principal: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
// $police__titre-secondaire: Verdana, Geneva, Tahoma, sans-serif;


// $police__main-size: 2rem;
// $police__titre-principal-size:1.6rem;
// $police__titre-secondaire-size:1.2rem; 


// $spacing__text-header:.3rem

$police__main: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
$police__titre-principal: Impact, Haettenschweiler, "Arial Narrow Bold",
  sans-serif;
$police__titre-secondaire: Verdana, Geneva, Tahoma, sans-serif;

/*--------------------------*/
$font__pre:'Courier New', Courier, monospace;
$font__line-height-pre:0.8em;
$font__code:'Courier New', Courier, monospace;