.site__footer{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: rgba(41,51,92,1);
  padding: 30px;
  margin-top: 50px;
}

.site__footer div {
  flex: 1;


}

#sidebar-footer-01{
  list-style: none;
  text-decoration: none;
}

.nav_menu-2{
  list-style: none;
  text-decoration: none;
}