.menu__principal{
  //    display: flex;
  //    flex-direction: column;
  //    justify-content: center;
  //    background-color: #124DB0;
  
      // nav
  
      .menu { //ul 
          list-style: none;
          display: flex;
          justify-content: space-around;
          background-color: rgb(137, 0, 0);
          margin: 0;
  
          .menu-item{ //li 
  
                a{
                  text-decoration: none;
                  color: white;
  
                } 
                a:hover{
                  color: rgb(143, 143, 143);
                  padding: 5px;
                } 
  
          }
      }
  
  
  }
  
  /*-------- transformation en css -------*/
  