.menu__principal{
  //    display: flex;
  //    flex-direction: column;
  //    justify-content: center;
  //    background-color: #124DB0;
  
      // nav
  
      .menu { //ul 
          list-style: none;
          align-items: center;
          display: flex;
          background-color: rgb(137, 0, 0);
          height: 40px;
          margin: 0;
  
          .menu-item{ //li 
  
                a{
                  text-decoration: none;
                  color: white;
                  margin-right: 50px;
                  font-family: 'Roboto', sans-serif;;

  
                } 
                a:hover{
                  color: rgb(143, 143, 143);
                } 
  
          }
      }
  
  
  }
  
  /*-------- transformation en css -------*/
  