.menu__principal{

      .menu { //ul 
          list-style: none;
          align-items: center;
          display: flex;
          background-color:  rgba(41,51,92,1);
          height: 60px;
          margin: 0;
          padding: 10px;
  
          .menu-item{ //li 
  
                a{
                  text-decoration: none;
                  color: white;
                  margin-right: 50px;
                  font-family: 'Roboto', sans-serif;;

  
                } 
                a:hover{
                  color: rgb(143, 143, 143);
                } 
  
          }
      }
  
  
  }
  
  /*-------- transformation en css -------*/
