@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

body{
   
  background-color: $couleur__background-body;
  // color:$couleur__text-input;

}
main{
  font-family: $police__main;
  // font-size: $police__titre-secondaire-size;
}



.trace {
  background-color: white;
}

.site__branding{
  text-align: center;
  background-color: rgb(211, 211, 211);
  padding: 20px 0px;
}

.site__branding>h1{
  margin: 0;

  text-decoration: none;
}

.site__title>a{
  text-decoration: none;
  color: white;
}

.articleBlog{
  margin-top: 30px;
  min-height: 200px;
  padding: 10px;
  width: 70vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

