// .site__logo{
// 	grid-area: logo;
// }

.site__header {
	grid-area: header;
}

.site__main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}
.site__menu {
	grid-area: menu;
}

.site__sidebar {
	grid-area: sidebar;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
}

.site__footer {
	grid-area: footer;
}


.sidebar h2,h3 {
	text-transform: uppercase;
	color: grey;
    padding: 5px;
    margin: 5px;
	
}
.sidebar ul {
	margin: 0;
	padding: 0;
}

.sidebar li{
	list-style: none;
	padding: 5px;

}
.sidebar a:hover{
	color:grey;
    transition-duration: .6s;
}

.aside__calendrier,.aside__rss{
	padding: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
		width: 100%;
}
.aside__calendrier {
	margin-left: 0;
}
.wp-calendar-table thead th {

	color: white;
	
}




.footer__utiles a {
	text-decoration: none;
	margin: 5px;
	padding: 5px;
}

.widget_block{
	margin: 5px;
	padding: 5px;
}

.site {
	display: grid;
	grid-template-columns:  auto;
	grid-template-areas:
		"menu"
	    "header"
		"main"
		"sidebar"
		"footer";

		@media screen and (min-width:700px){
			
			grid-template-columns: ($size__site-sidebar) auto;
			grid-template-areas:
				"header header"
				"menu main"
				"sidebar main"
				". main"
				"footer footer";

		
	
	}

}

.menu{
	li{
		a{
			text-decoration: none;
		}
	}
}

@import "no-sidebar";